# Python virtual environment
CA/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Credentials
my-rd-coe-demo-data-0f2a5a8dbc36.json

# Database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
